.AsSeenOn{
    width: 200px !important;
    height: 50px !important;
    margin:  0px auto !important;
    margin-top: 50px !important;
}

/* .border{
    border : 2px solid red;
} */

.golden{
    color: #DCA812;
}

.HeroText{
    margin: 50px 20px;
    text-align: center;
}

.HeroText h2{
    font-weight: 200;
}

